.header-block__icon {
  list-style: none;
  padding-left: 22px;
}

.header-block__link {
  display: flex;
  transition: @basic-transition;

  &:hover {
    opacity: 0.5;
  }
}

.header-block__list {
  display: flex;
}

.header-block__wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: @deafult-weight__regular;

  @media (max-width: 1140px) {
    justify-content: unset;
  }
}

.header-block__icon--login {
  @media (max-width: 1140px) {
    display: none;
  }
}

.header-block__box {
  display: flex;
  padding: 0;
}

.header-block__inner {
  padding: 0;

  @media (max-width: 1140px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.header-block__link--basket {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background-color: @basic-black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    right: -4px;
    top: -6px;
  }
}

.header-block__count {
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: 1;
  font-size: 12px;
  line-height: 14px;
  color: @basic-white;
  font-weight: @deafult-weight__regular;
}

.header-block__packing {
  list-style: none;
}

.header-block__content {
  list-style: none;
}

.header-block__burger {
  display: flex;
  justify-content: center;
  user-select: none;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  line-height: 0;
  outline: 0;
  cursor: pointer;
  box-sizing: content-box;
  width: 20px;
  padding: 10px;
  padding-right: 0;
  background: 0 0;
  border: 0;
}

.header-block__toggle {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 2px;
  vertical-align: bottom;
  transition: background 0.7s 0.7s;
  background-color: @basic-black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: @basic-black;
    transition: top 0.5s 0.5s, transform 0.5s, -webkit-transform 0.5s;
    transform-origin: 50% 50%;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.header-block__burger--open .header-block__toggle {

  &::after,
  &::before {
    transition: top 0.3s, transform 0.3s 0.5s;
    width: 28px;
    top: 0;
    left: -5px;
  }
}

.header-block__burger--open .header-block__toggle {
  background: 0 0;
  transition: background 0.1s 0.1s;
  z-index: 6;

  &::before {
    transform: rotate3d(0, 0, 1, 45deg);
    background-color: @basic-black;
  }

  &::after {
    transform: rotate3d(0, 0, 1, -45deg);
    background-color: @basic-black;
  }
}

.header-block__content {
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  max-width: 280px;
  z-index: 7;
  overflow: auto;
  background-color: gold;
  padding: 0 15px;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.page-body .header-block__content--open {
  opacity: 1;
  pointer-events: unset;
}
